[Desktop Entry]
Version=0.17.6
Name=ZHCASH Core
Comment=Connect to the ZHCASH P2P Network
Exec=zerohour-qt %u
Terminal=false
Type=Application
Icon=zerohour128
MimeType=x-scheme-handler/zerohour;
Categories=Network;
StartupWMClass=ZHCASH-qt
Name[en_US]=zerohour-qt
