[Desktop Entry]
Version=0.17.6
Name=ZHCASH Core Testnet
Comment=Connect to the ZHCASH P2P Network Testnet
Exec=zerohour-qt -testnet %u
Terminal=false
Type=Application
Icon=zerohourtestnet128
MimeType=x-scheme-handler/zerohour;
Categories=Network;
StartupWMClass=ZHCASH-qt-testnet
Name[en_US]=zerohour-qt-testnet
