/*--------------------------------------------
Button Blue CSS
--------------------------------------------*/
QPushButton {
    color: white; 
    background: #46515d;
    border: none;
    border-radius: 6px;
    min-width: 5em;
    padding: 6px;
    margin: 0px;
}
QPushButton:hover{
    background: #5a6876;
}
QPushButton:pressed {
    background: #53606d;
    color: #f2f4f6;
}
QPushButton::disabled {
    color: rgba(255, 255, 255, 40%);
    background: rgba(70, 81, 93, 60%);
}
