/*-------------------------------------------- 
Tool Button Black CSS
--------------------------------------------*/
QToolButton {
    color: rgba(255, 255, 255, 60%);
    background: rgba(39, 44, 50, 85%);
    border: 0px solid transparent;
    border-radius: 6px;
    padding: 10px;
}
QToolButton:pressed, QToolButton:hover:pressed, QToolButton:checked {
    color: rgba(255, 255, 255, 85%);
    background: rgba(83, 96, 109, 85%);
}
QToolButton:hover:!checked {
    color: rgba(39, 44, 50, 85%);
    background: rgba(215, 221, 227, 85%);
}
QToolButton:disabled {
    color: rgba(255, 255, 255, 10%);
    background: rgba(39, 44, 50, 40%);
}
